*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

injest_T100.py

# folders
logs/
.db
db/
dev/
.idea
.ipynb
.ipynb_checkpoints