{% extends 'bootstrap/base.html' %}

{% block title %}
LOT Dashboard
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">

{%block app_styles %}{% endblock %}
{% endblock %}



{% block navbar %}
<nav class="navbar navbar-default">
        <div class="container">
        	<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">lot-dash</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">{{ 'Home' }}</a></li>
                    <li><a href="{{ url_for('about') }}">{{ 'About' }}</a></li>
                    <li><a href="https://github.com/bananalytics/lot-dash">Github</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
	
{% block content %}
	<div class="container">
	{% block app_content %}{% endblock %}
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	

    <div id="footer">
    <div class="container">
      <p>&copy; 2018 by Filip Wodnicki</p>
    </div>
  </div>
	
	


{% endblock %}	

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	{%block app_scripts %}{% endblock %}
{% endblock %}

