{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	
	<canvas id="myChart" width=400, height=400></canvas>
	


{% endblock %}

{%block app_scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script>
		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
    	// The type of chart we want to create
    	type: 'line',

    // The data for our dataset
    	data: {
	        labels: [{% for item in west_labels %}
                  "{{ item[0] }}", //tuple handling
              {% endfor %}],
	        datasets: [
	        {   label: "Westbound: KRK-ORD",
	            // backgroundColor: 'rgb(255, 99, 132)',
	            borderColor: 'rgb(255, 99, 132)',
	            data: [{% for item in west_values %}
                      {{ item[0] }},
                    {% endfor %}],
	        },{
	        	label: "Eastbound: ORD-KRK",
	        	// backgroundColor: 'cyan',
	        	borderColor: 'blue',
	        	data: [{% for item in east_values %}
                      {{ item[0] }},
                    {% endfor %}],
	        }]
	    },

    // Configuration options go here
	    options: {}
	});
	</script>
{% endblock %}